/* General */
h1 {
    color: #59009A;
    font-style: italic;
  }
  
  h2 {
    font-family: roboto sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffcfc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav a {
    margin-right: 20px;
    color: #59009A;
    text-decoration: none;
    margin-right: 50px;
  }
  
  .nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
  }
  
  .bloque {
    width: 309px; /* Ajustar el ancho de los bloques */
    height: 182px;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadir una sombra */
  }
  
  .bloque img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px; /* Añadir bordes redondeados a las imágenes */
  }
  
  .bloque p {
    font-size: 16px;
    margin-bottom: 0; /* Eliminar el margen inferior */
  }
  
  .footer {
    background-color: #59009A;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
  }
  
  .contactamos,
  .canales-atencion,
  .social-media {
    display: flex;
    align-items: center;
    margin-right: 1px;
    flex-direction: column;
  }
  
  .contactanos span,
  .canales-atencion span,
  .social-media span {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .imagenes-container {
    display: flex;
    align-items: center;
  }
  
  .imagen-footer {
    margin-right: 10px;
  }
  
  .texto-footer {
    text-align: right;
    align-items: center;
  }
  